.fix-card
{
    width: 50rem;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: lightcyan;
}
#cancel-link .nav-link:hover{
	color: white;
}

#cancel-link .dropdown-item:hover{
	background-color: black;
	color:white
}